.content {
  background-color: white;
  max-width: 100%;
  padding-bottom: 20em;
}

.wheelCover {
  background-color: white;
  height: 100%;
  width: 100%;
  margin-top: -669px;
  position: absolute;
  z-index: 2;
}

.mobilePage {
  display: none;
}

@media only screen and (max-width: 850px) { 
  .regular  { 
      display: none; 
  } 
  .mobilePage {
      display: block;
  }
}
